body {
    padding-top: 3.5rem;
}

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    position: fixed;
   /* top: 51px;*/
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}
.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}
.action-row{
    width: 135px;
    text-align: center;
}
.date-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.date-wrap select {
    width: calc((100% - 30px)/ 3);
    border: #b4b4b4 solid 1px;
    border-radius: 4px;
    padding: 6px 10px;
    background: #f7f7f7;
}


/*.pagination {*/
/*    display: inline-block;*/
/*    padding: 8px;*/
/*    text-decoration: none;*/
/*    float: left;*/
/*}*/

/*.pagination a {*/
/*    color: black;*/
/*    float: left;*/
/*    padding: 8px;*/
/*    text-decoration: none;*/
/*}*/
.pagination__custom {
    display: flex;
    flex-basis: auto;
}
.pagination__custom ul>li {
    padding-right: 1rem;
}
.pagination span.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 0.6rem;    font-size: 1.2rem;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.alert{
    min-height:50px;
    width: 300px; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2000;
}

.alert .message{
    font-weight: bold;
}

#delete_message
{
    display:none;
    position:fixed;
    top:0px;
    width:100%;
    height:150px;
    background-color:#5882FA;
    text-align:center;
}
#delete_message h2
{
    color:#0431B4;
}
#delete,#cancel
{
    border:none;
    background:none;
    width:100px;
    height:40px;
    font-size:18px;
    border-radius:5px;
    border:2px solid white;
    margin:10px;
    color:#CED8F6;
}
.h1-class
{
    text-align:center;
    margin-top:200px;
    color:#819FF7;
    width:600px;
    margin-left:200px;
}
#test_delete
{
    border:none;
    background:none;
    width:400px;
    height:50px;
    font-size:18px;
    border-radius:5px;
    border:2px solid #819FF7;
    margin:10px;
    color:#045FB4;
}
#item {
    background-color: #59c920;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 250px;
}
#item:hover, #item:focus {
    background-color: #3e8e41;
}
.menu {
    position: relative;
    display: inline-block;
  }
#submenu {
    display: none;
    position: absolute;
    background-color: #3e8e41;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#submenu a:hover {
    background-color: #4CAF50
}
